.App{
  min-height: 100vh;
  background-color: #ffffff;
}

.navBar{
  height: fit-content;
  background-color: #1a212f;
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
  border: solid rgb(173, 173, 173) 2px;
  
}

.search-button{
  background: rgb(255, 174, 128);
  padding: 10px 20px;
  border: solid rgb(173, 173, 173) 2px;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: white; 
}

h1 {
  text-align: center;
  padding: 10px;
  margin: 0;
  color: white;
}

